.error-message{
    color:red;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: solid black 3px;
}

*{
    font-size: x-large;
}