.error-message{
    color:red;
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: solid black 3px;
    padding: 20px;
    margin: 40px;
    margin-left: 100px;
    margin-right: 100px;
    }

*{
    font-size: x-large;
}