
<script src="https://kit.fontawesome.com/a00cb597a6.js" crossorigin="anonymous"></script>
<body>
    
<div class="header">
    <img src="./assets/yo.jpg" alt="Johan_Gaviria">
    <h1 id="Titulo_Principal" class="yellow">Johan Esteban Gaviria Ocampo</h1>
    <p class="parrafo">Soy un joven nacido en Medellín Antioquia en el año 1999, comprometido con sus labores y
        trabajos, que le gusta el trabajo colaborativo, que se apaciona por todo lo que hace, que aprende facil y no
        se le dificulta compartir los conocimientos adquiridos, con diferentes conocimientos adquiridos
        a lo largo de todo el recorrido academico, el cual se verán plasmados en un apartado dentro de esta
        hoja de vida. </p>
</div>
<div class="main">
    <div class="card">

        <h2> <i class="fa-solid fa-building"></i> Experiencia laboral</h2>
        <ul class="lista">
            <li class="item">
                <h3>TIGO</h3>
                <p>Agente de informes area B2B</p>
                <p> 02/2022 - 08/2022 </p>
                <ul>
                    <li>Desarrollar Consultas</li>
                    <li>Realizar Informes</li>
                    <li>Tratamiento de datos</li>
                    <li>Dashboard con resultados</li>
                </ul>
            </li>
            <li class="item">
                <h3>Independiente</h3>
                <p>Instalacion de CCTV</p>
                <p>01/2019 - actualemente</p>
                <p>Medio Tiempo</p>
                <ul>
                    <li>Trabajo en interiores</li>
                    <li>Redes Basicas</li>
                    <li>Trabajo bajo presión</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="card">

        <h2> <i class="fa-solid fa-graduation-cap"></i>Educación</h2>
        <ul class="lista">
            <li class="item">
                <h3>Institución Universitaria ITM</h3>
                <p>Tecnólogo de sistemas</p>
                <p>2022</p>
            </li>
            <li class="item">
                <h3>SENA</h3>
                <p>Técnico Desarrollo de Software</p>
                <p>2016</p>
            </li>
            <li class="item">
                <h3>Jose Miguel de Restrepo y Puerta</h3>
                <p>Bachiller</p>
                <p>2016</p>

            </li>
        </ul>
    </div>
    <div class="card">
        <h2> <i class="fa-solid fa-chart-bar"></i> Habilidades</h2>
        <ul class="lista">
            <li class="item">
                <div class="skill">
                    <div class="skill_description">
                        <span>Aplicaciones de escritorio</span><span>70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 70%;"></div>
                    </div>

                </div>
            </li>
            <li class="item">
                <div class="skill">
                    <div class="skill_description">
                        <span>Bases de datos</span><span>70%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 70%;"></div>
                    </div>

                </div>
            </li>
            <li class="item">
                <div class="skill">
                    <div class="skill_description">
                        <span>Desarrollo web</span><span>80%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 80%;"></div>
                    </div>

                </div>
            </li>
            <li class="item">
                <div class="skill">
                    <div class="skill_description">
                        <span>Javascript</span><span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 50%;"></div>
                    </div>

                </div>
            </li>
            <li class="item">
                <div class="skill">
                    <div class="skill_description">
                        <span>Angular</span><span>50%</span>
                    </div>
                    <div class="progress">
                        <div class="progress percentage" style="width: 50%;"></div>
                    </div>

                </div>
            </li>
        </ul>
    </div>

    <div class="card">

        <h2> <i class="fa-regular fa-comments"></i> Idiomas</h2>
        <ul class="lista">
            <li class="item">
                <div class="idioma"><span>Español</span>
                    <ul class="stars">
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <div class="idioma"><span>Ingles</span>
                    <ul class="stars">
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-solid fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                        <li><i class="fa-regular fa-star"></i></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
